.minds-custom-conversion-header {
	width: 100%;

	.container {
		display: flex;
		justify-content: space-between;

		.mcch-item {

			@media all and (max-width: 600px)
			{
				&:not(.mcch-hide-mobile) {
					display: flex;
				}
			}

			@media all and (min-width: 600px)
			{
				display: flex;
			}

			align-items: center;
			padding: 4px;
			
			.mcch-i {
				margin-top: -2px;
			}

			.mcch-t {
				padding-left: 8px;
				font-weight: bold;
			}
		}
	}

	@media all and (max-width: 600px)
	{
		.mcch-hide-mobile {
			display: none;
		}

		.mcch-mobile {
			margin: 0 auto;
		}
	}

}